.menu-bar {
    -fx-background-color: #ba481a, linear-gradient(to bottom, #fa712a 0%, #d97524 100%);
    -fx-background-insets: 0, 0 0 1 0;
}
.split-pane {-fx-background-color: #4b4a4a;}
.menu-button {-fx-background-color: #93ce2a;}